
/* Note */
.admonition.note {
  border-bottom-color: rgba(68, 138, 255);
  border-left-color: rgba(68, 138, 255);
  border-right-color: rgba(68, 138, 255);
  border-top-color: rgba(68, 138, 255);
}

.note > .admonition-title {
  background-color: rgba(68, 138, 255,.1);
  border-bottom-color: rgba(68, 138, 255);
  border-left-color: rgba(68, 138, 255);
  border-right-color: rgba(68, 138, 255);
  border-top-color: rgba(68, 138, 255);
}

.note > .admonition-title::before {
  background-color: #448aff;
  -webkit-mask-image: var(--md-admonition-icon--note);
  mask-image: var(--md-admonition-icon--note);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Abstract */
.admonition.abstract {
  border-bottom-color: rgba(0, 176, 255);
  border-left-color: rgba(0, 176, 255);
  border-right-color: rgba(0, 176, 255);
  border-top-color: rgba(0, 176, 255);
}

.abstract > .admonition-title {
  background-color: rgba(0, 176, 255,.1);
  border-bottom-color: rgba(0, 176, 255);
  border-left-color: rgba(0, 176, 255);
  border-right-color: rgba(0, 176, 255);
  border-top-color: rgba(0, 176, 255);
}

.abstract > .admonition-title::before {
  background-color: #00b0ff;
  -webkit-mask-image: var(--md-admonition-icon--abstract);
  mask-image: var(--md-admonition-icon--abstract);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Summary */
.admonition.summary {
  border-bottom-color: rgba(0, 176, 255);
  border-left-color: rgba(0, 176, 255);
  border-right-color: rgba(0, 176, 255);
  border-top-color: rgba(0, 176, 255);
}

.summary > .admonition-title {
  background-color: rgba(0, 176, 255,.1);
  border-bottom-color: rgba(0, 176, 255);
  border-left-color: rgba(0, 176, 255);
  border-right-color: rgba(0, 176, 255);
  border-top-color: rgba(0, 176, 255);
}

.summary > .admonition-title::before {
  background-color: #00b0ff;
  -webkit-mask-image: var(--md-admonition-icon--abstract);
  mask-image: var(--md-admonition-icon--abstract);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Tldr */
.admonition.tldr {
  border-bottom-color: rgba(0, 176, 255);
  border-left-color: rgba(0, 176, 255);
  border-right-color: rgba(0, 176, 255);
  border-top-color: rgba(0, 176, 255);
}

.tldr > .admonition-title {
  background-color: rgba(0, 176, 255,.1);
  border-bottom-color: rgba(0, 176, 255);
  border-left-color: rgba(0, 176, 255);
  border-right-color: rgba(0, 176, 255);
  border-top-color: rgba(0, 176, 255);
}

.tldr > .admonition-title::before {
  background-color: #00b0ff;
  -webkit-mask-image: var(--md-admonition-icon--abstract);
  mask-image: var(--md-admonition-icon--abstract);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Info */
.admonition.info {
  border-bottom-color: rgba(0,184,212);
  border-left-color: rgba(0,184,212);
  border-right-color: rgba(0,184,212);
  border-top-color: rgba(0,184,212);
}

.info > .admonition-title {
  background-color: rgba(0,184,212,.1);
  border-bottom-color: rgba(0,184,212);
  border-left-color: rgba(0,184,212);
  border-right-color: rgba(0,184,212);
  border-top-color: rgba(0,184,212);
}

.info > .admonition-title::before {
  background-color: #00b8d4;
  -webkit-mask-image: var(--md-admonition-icon--info);
  mask-image: var(--md-admonition-icon--info);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Todo */
.admonition.todo {
  border-bottom-color: rgba(0,184,212);
  border-left-color: rgba(0,184,212);
  border-right-color: rgba(0,184,212);
  border-top-color: rgba(0,184,212);
}

.todo > .admonition-title {
  background-color: rgba(0,184,212,.1);
  border-bottom-color: rgba(0,184,212);
  border-left-color: rgba(0,184,212);
  border-right-color: rgba(0,184,212);
  border-top-color: rgba(0,184,212);
}

.todo > .admonition-title::before {
  background-color: #00b8d4;
  -webkit-mask-image: var(--md-admonition-icon--info);
  mask-image: var(--md-admonition-icon--info);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Tip */
.admonition.tip {
  border-bottom-color: rgba(0,191,165);
  border-left-color: rgba(0,191,165);
  border-right-color: rgba(0,191,165);
  border-top-color: rgba(0,191,165);
}

.tip > .admonition-title {
  background-color: rgba(0,191,165,.1);
  border-bottom-color: rgba(0,191,165);
  border-left-color: rgba(0,191,165);
  border-right-color: rgba(0,191,165);
  border-top-color: rgba(0,191,165);
}

.tip > .admonition-title::before {
  background-color: #00bfa5;
  -webkit-mask-image: var(--md-admonition-icon--tip);
  mask-image: var(--md-admonition-icon--tip);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Hint */
.admonition.hint {
  border-bottom-color: rgba(0,191,165);
  border-left-color: rgba(0,191,165);
  border-right-color: rgba(0,191,165);
  border-top-color: rgba(0,191,165);
}

.hint > .admonition-title {
  background-color: rgba(0,191,165,.1);
  border-bottom-color: rgba(0,191,165);
  border-left-color: rgba(0,191,165);
  border-right-color: rgba(0,191,165);
  border-top-color: rgba(0,191,165);
}

.hint > .admonition-title::before {
  background-color: #00bfa5;
  -webkit-mask-image: var(--md-admonition-icon--tip);
  mask-image: var(--md-admonition-icon--tip);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Important */
.admonition.important {
  border-bottom-color: rgba(0,191,165);
  border-left-color: rgba(0,191,165);
  border-right-color: rgba(0,191,165);
  border-top-color: rgba(0,191,165);
}

.important > .admonition-title {
  background-color: rgba(0,191,165,.1);
  border-bottom-color: rgba(0,191,165);
  border-left-color: rgba(0,191,165);
  border-right-color: rgba(0,191,165);
  border-top-color: rgba(0,191,165);
}

.important > .admonition-title::before {
  background-color: #00bfa5;
  -webkit-mask-image: var(--md-admonition-icon--tip);
  mask-image: var(--md-admonition-icon--tip);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Success */
.admonition.success {
  border-bottom-color: rgba(0,200,83);
  border-left-color: rgba(0,200,83);
  border-right-color: rgba(0,200,83);
  border-top-color: rgba(0,200,83);
}

.success > .admonition-title {
  background-color: rgba(0,200,83,.1);
  border-bottom-color: rgba(0,200,83);
  border-left-color: rgba(0,200,83);
  border-right-color: rgba(0,200,83);
  border-top-color: rgba(0,200,83);
}

.success > .admonition-title::before {
  background-color: #00c853;
  -webkit-mask-image: var(--md-admonition-icon--success);
  mask-image: var(--md-admonition-icon--success);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Check */
.admonition.check {
  border-bottom-color: rgba(0,200,83);
  border-left-color: rgba(0,200,83);
  border-right-color: rgba(0,200,83);
  border-top-color: rgba(0,200,83);
}

.check > .admonition-title {
  background-color: rgba(0,200,83,.1);
  border-bottom-color: rgba(0,200,83);
  border-left-color: rgba(0,200,83);
  border-right-color: rgba(0,200,83);
  border-top-color: rgba(0,200,83);
}

.check > .admonition-title::before {
  background-color: #00c853;
  -webkit-mask-image: var(--md-admonition-icon--success);
  mask-image: var(--md-admonition-icon--success);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Done */
.admonition.done {
  border-bottom-color: rgba(0,200,83);
  border-left-color: rgba(0,200,83);
  border-right-color: rgba(0,200,83);
  border-top-color: rgba(0,200,83);
}

.done > .admonition-title {
  background-color: rgba(0,200,83,.1);
  border-bottom-color: rgba(0,200,83);
  border-left-color: rgba(0,200,83);
  border-right-color: rgba(0,200,83);
  border-top-color: rgba(0,200,83);
}

.done > .admonition-title::before {
  background-color: #00c853;
  -webkit-mask-image: var(--md-admonition-icon--success);
  mask-image: var(--md-admonition-icon--success);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Question */
.admonition.question {
  border-bottom-color: rgba(100,221,23);
  border-left-color: rgba(100,221,23);
  border-right-color: rgba(100,221,23);
  border-top-color: rgba(100,221,23);
}

.question > .admonition-title {
  background-color: rgba(100,221,23,.1);
  border-bottom-color: rgba(100,221,23);
  border-left-color: rgba(100,221,23);
  border-right-color: rgba(100,221,23);
  border-top-color: rgba(100,221,23);
}

.question > .admonition-title::before {
  background-color: #64dd17;
  -webkit-mask-image: var(--md-admonition-icon--question);
  mask-image: var(--md-admonition-icon--question);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Help */
.admonition.help {
  border-bottom-color: rgba(100,221,23);
  border-left-color: rgba(100,221,23);
  border-right-color: rgba(100,221,23);
  border-top-color: rgba(100,221,23);
}

.help > .admonition-title {
  background-color: rgba(100,221,23,.1);
  border-bottom-color: rgba(100,221,23);
  border-left-color: rgba(100,221,23);
  border-right-color: rgba(100,221,23);
  border-top-color: rgba(100,221,23);
}

.help > .admonition-title::before {
  background-color: #64dd17;
  -webkit-mask-image: var(--md-admonition-icon--question);
  mask-image: var(--md-admonition-icon--question);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Faq */
.admonition.faq {
  border-bottom-color: rgba(100,221,23);
  border-left-color: rgba(100,221,23);
  border-right-color: rgba(100,221,23);
  border-top-color: rgba(100,221,23);
}

.faq > .admonition-title {
  background-color: rgba(100,221,23,.1);
  border-bottom-color: rgba(100,221,23);
  border-left-color: rgba(100,221,23);
  border-right-color: rgba(100,221,23);
  border-top-color: rgba(100,221,23);
}

.faq > .admonition-title::before {
  background-color: #64dd17;
  -webkit-mask-image: var(--md-admonition-icon--question);
  mask-image: var(--md-admonition-icon--question);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Warning */
.admonition.warning {
  border-bottom-color: rgba(255,145,0);
  border-left-color: rgba(255,145,0);
  border-right-color: rgba(255,145,0);
  border-top-color: rgba(255,145,0);
}

.warning > .admonition-title {
  background-color: rgba(255,145,0,.1);
  border-bottom-color: rgba(255,145,0);
  border-left-color: rgba(255,145,0);
  border-right-color: rgba(255,145,0);
  border-top-color: rgba(255,145,0);
}

.warning > .admonition-title::before {
  background-color: #ff9100;
  -webkit-mask-image: var(--md-admonition-icon--warning);
  mask-image: var(--md-admonition-icon--warning);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Caution */
.admonition.caution {
  border-bottom-color: rgba(255,145,0);
  border-left-color: rgba(255,145,0);
  border-right-color: rgba(255,145,0);
  border-top-color: rgba(255,145,0);
}

.caution > .admonition-title {
  background-color: rgba(255,145,0,.1);
  border-bottom-color: rgba(255,145,0);
  border-left-color: rgba(255,145,0);
  border-right-color: rgba(255,145,0);
  border-top-color: rgba(255,145,0);
}

.caution > .admonition-title::before {
  background-color: #ff9100;
  -webkit-mask-image: var(--md-admonition-icon--warning);
  mask-image: var(--md-admonition-icon--warning);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Attention */
.admonition.attention {
  border-bottom-color: rgba(255,145,0);
  border-left-color: rgba(255,145,0);
  border-right-color: rgba(255,145,0);
  border-top-color: rgba(255,145,0);
}

.attention > .admonition-title {
  background-color: rgba(255,145,0,.1);
  border-bottom-color: rgba(255,145,0);
  border-left-color: rgba(255,145,0);
  border-right-color: rgba(255,145,0);
  border-top-color: rgba(255,145,0);
}

.attention > .admonition-title::before {
  background-color: #ff9100;
  -webkit-mask-image: var(--md-admonition-icon--warning);
  mask-image: var(--md-admonition-icon--warning);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Failure */
.admonition.failure {
  border-bottom-color: rgba(255,82,82);
  border-left-color: rgba(255,82,82);
  border-right-color: rgba(255,82,82);
  border-top-color: rgba(255,82,82);
}

.failure > .admonition-title {
  background-color: rgba(255,82,82,.1);
  border-bottom-color: rgba(255,82,82);
  border-left-color: rgba(255,82,82);
  border-right-color: rgba(255,82,82);
  border-top-color: rgba(255,82,82);
}

.failure > .admonition-title::before {
  background-color: #ff5252;
  -webkit-mask-image: var(--md-admonition-icon--failure);
  mask-image: var(--md-admonition-icon--failure);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Fail */
.admonition.fail {
  border-bottom-color: rgba(255,82,82);
  border-left-color: rgba(255,82,82);
  border-right-color: rgba(255,82,82);
  border-top-color: rgba(255,82,82);
}

.fail > .admonition-title {
  background-color: rgba(255,82,82,.1);
  border-bottom-color: rgba(255,82,82);
  border-left-color: rgba(255,82,82);
  border-right-color: rgba(255,82,82);
  border-top-color: rgba(255,82,82);
}

.fail > .admonition-title::before {
  background-color: #ff5252;
  -webkit-mask-image: var(--md-admonition-icon--failure);
  mask-image: var(--md-admonition-icon--failure);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Missing */
.admonition.missing {
  border-bottom-color: rgba(255,82,82);
  border-left-color: rgba(255,82,82);
  border-right-color: rgba(255,82,82);
  border-top-color: rgba(255,82,82);
}

.missing > .admonition-title {
  background-color: rgba(255,82,82,.1);
  border-bottom-color: rgba(255,82,82);
  border-left-color: rgba(255,82,82);
  border-right-color: rgba(255,82,82);
  border-top-color: rgba(255,82,82);
}

.missing > .admonition-title::before {
  background-color: #ff5252;
  -webkit-mask-image: var(--md-admonition-icon--failure);
  mask-image: var(--md-admonition-icon--failure);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Danger */
.admonition.danger {
  border-bottom-color: rgb(255, 23, 68);
  border-left-color: rgb(255, 23, 68);
  border-right-color: rgb(255, 23, 68);
  border-top-color: rgb(255, 23, 68);
}

.danger > .admonition-title {
  background-color: rgb(255, 23, 68,.1);
  border-bottom-color: rgb(255, 23, 68);
  border-left-color: rgb(255, 23, 68);
  border-right-color: rgb(255, 23, 68);
  border-top-color: rgb(255, 23, 68);
}

.danger > .admonition-title::before {
  background-color: #ff1744;
  -webkit-mask-image: var(--md-admonition-icon--danger);
  mask-image: var(--md-admonition-icon--danger);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Error */
.admonition.error {
  border-bottom-color: rgb(255, 23, 68);
  border-left-color: rgb(255, 23, 68);
  border-right-color: rgb(255, 23, 68);
  border-top-color: rgb(255, 23, 68);
}

.error > .admonition-title {
  background-color: rgb(255, 23, 68,.1);
  border-bottom-color: rgb(255, 23, 68);
  border-left-color: rgb(255, 23, 68);
  border-right-color: rgb(255, 23, 68);
  border-top-color: rgb(255, 23, 68);
}

.error > .admonition-title::before {
  background-color: #ff1744;
  -webkit-mask-image: var(--md-admonition-icon--danger);
  mask-image: var(--md-admonition-icon--danger);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Bug */
.admonition.bug {
  border-bottom-color: rgba(245,0,87);
  border-left-color: rgba(245,0,87);
  border-right-color: rgba(245,0,87);
  border-top-color: rgba(245,0,87);
}

.bug > .admonition-title {
  background-color: rgba(245,0,87,.1);
  border-bottom-color: rgba(245,0,87);
  border-left-color: rgba(245,0,87);
  border-right-color: rgba(245,0,87);
  border-top-color: rgba(245,0,87);
}

.bug > .admonition-title::before {
  background-color: #f50057;
  -webkit-mask-image: var(--md-admonition-icon--bug);
  mask-image: var(--md-admonition-icon--bug);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Example */
.admonition.example {
  border-bottom-color: rgba(124,77,255);
  border-left-color: rgba(124,77,255);
  border-right-color: rgba(124,77,255);
  border-top-color: rgba(124,77,255);
}

.example > .admonition-title {
  background-color: rgba(124,77,255,.1);
  border-bottom-color: rgba(124,77,255);
  border-left-color: rgba(124,77,255);
  border-right-color: rgba(124,77,255);
  border-top-color: rgba(124,77,255);
}

.example > .admonition-title::before {
  background-color: #7c4dff;
  -webkit-mask-image: var(--md-admonition-icon--example);
  mask-image: var(--md-admonition-icon--example);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Quote */
.admonition.quote {
  border-bottom-color: hsla(0,0%,62%);
  border-left-color: hsla(0,0%,62%);
  border-right-color: hsla(0,0%,62%);
  border-top-color: hsla(0,0%,62%);
}

.quote > .admonition-title {
  background-color: hsla(0,0%,62%,.1);
  border-bottom-color: hsla(0,0%,62%);
  border-left-color: hsla(0,0%,62%);
  border-right-color: hsla(0,0%,62%);
  border-top-color: hsla(0,0%,62%);
}

.quote > .admonition-title::before {
  background-color: #9e9e9e;
  -webkit-mask-image: var(--md-admonition-icon--quote);
  mask-image: var(--md-admonition-icon--quote);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

/* Cite */
.admonition.cite {
  border-bottom-color: hsla(0,0%,62%);
  border-left-color: hsla(0,0%,62%);
  border-right-color: hsla(0,0%,62%);
  border-top-color: hsla(0,0%,62%);
}

.cite > .admonition-title {
  background-color: hsla(0,0%,62%,.1);
  border-bottom-color: hsla(0,0%,62%);
  border-left-color: hsla(0,0%,62%);
  border-right-color: hsla(0,0%,62%);
  border-top-color: hsla(0,0%,62%);
}

.cite > .admonition-title::before {
  background-color: #9e9e9e;
  -webkit-mask-image: var(--md-admonition-icon--quote);
  mask-image: var(--md-admonition-icon--quote);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}
